body{
    margin: 0px;
    font-family: montserrat, Arial, Helvetica, sans-serif;

}

.cabecalho{
    background: linear-gradient(40deg, #fff, #021189);
    height: 50px;
}

.logo{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

.menu{
    display: flex;
    justify-content: center ;
    margin: 15px 0;
}

.menu a{
    text-decoration: none;
    font-weight: bold;
    color: #021189;
    margin-right: 7px;
    margin-left: 7px;
    letter-spacing: 5px;
    border: 2px solid ;
    padding: 15px;
    border-radius: 100px;
    
}

